<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script type="text/javascript" src="index.js"></script>
    
    <title>Place to Stay</title>
</head>
<body>
    <div>Login</div>
    <div><h1>Helo</h1><h1 id="userName"></h1></div>
    <script>
        //const div = document.createElement("div");
        const storedResult = sessionStorage.getItem('loginResult');
      document.getElementById("userName").innerHTML = storedResult;
      //console.log(storedResult)
      //if (storedResult){
          //const resultData = JSON.parse(storedResult);
        //  console.log(storedResult)
          //const textNode = document.createTextNode(`Hello ${storedResult}`);
          //document.getElementById("userName").innerHTML = textNode;
          //div.appendChild(textNode);

          //document.getElementById("usernName").appendChild(div)
          
     // }
    </script>
    <h1>Search For Accommodation</h1>
    <h3>Please Enter The Location Of The Accommodetion</h3>
    <form>
        <input type='text' id='location'>
        <input type="button"  onclick="searchByLocation()" value="Search" id="searchAccommdBtn">
    </form>
    <div id="map" style="width:800px; height:600px"> </div>
    <div id="searchAccommodResoults" ></div>
</body>
</html>
