<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script type="text/javascript" src="index.js"></script>
    
    <title>Place to Stay</title>
</head>
<body>
  <div class="main_menue">
    <div class="name" id="userName"></div>
    <div id="logout">
    <script>
        const storedResult = sessionStorage.getItem("loginResult");
               
        function createLogoutButon() {
            const logoutButton = document.createElement('button');
            logoutButton.textContent = 'Logout';
            logoutButton.addEventListener('click', function(){
                sessionStorage.removeItem("loginIn");
                sessionStorage.removeItem("loginResult");
                alert('Logged out successfully')
                window.location = '/';
            });
            document.getElementById('logout').appendChild(logoutButton);
        } 

        function createLoginButon() {
            const loginButton = document.createElement('button');
            loginButton.textContent = 'Login';
            loginButton.addEventListener('click', function(){
            window.location = '/login';
            });
            document.getElementById('logout').appendChild(loginButton);
        } 

        if (sessionStorage.getItem('loginIn') === 'true'){
            createLogoutButon();
            document.getElementById("userName").innerHTML = 'Hello ' + storedResult;
        }else{
            createLoginButon();
        }
    </script>
    <h1>Search For Accommodation</h1>
    <h3>Please Enter The Location Of The Accommodetion</h3>
    <form>
        <input type='text' id='location'>
        <input type="button" onclick="searchByLocation()" value="Search" id="searchAccommdBtn">
    </form>
    </div>
    <div id="map" style="width:800px; height:400px"> </div>
    <div  id="searchAccommodResoults" ></div>
</body>
<script type="text/javascript" src="map.js"></script>
</html>
